##############################
## Folders                  ##
##############################
target
.settings
.classpath
 
##############################
## Netbeans conf            ##
##############################
#nb-configuration.xml
#nbactions.xml