##############################
## Folders                  ##
##############################
target/*
.settings/*
.classpath
.project
##############################
## Netbeans conf            ##
##############################
#nb-configuration.xml
#nbactions.xml
*.classpath
*.project
